# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- Jupyter Notebooks and JupyterLab
- Libraries, APIs, Datasets and Models
- Github

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Sci-kit Learn
3. ggplot
4. Numpy

| Data Science Tools |
| --- |
| RStudio |
| Tensorflow |
| Jupyter Lab |

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Sukrit Kapil